body {
    background-image: url('/images/bg-mobile.svg');
    background-color: hsl(257, 40%, 49%);
    font-family: 'Poppins', sans-serif;
    margin: 2%;
    background-repeat: no-repeat;
    color: white;
}

.logo {
    display: flex;
    align-self: flex-end;
    justify-self: flex-end;
    width: 30%;
    margin: 7% 1% 10% 7%;
}

.illustration {
    width: 85%;
    margin: auto;
    display: flex;
}

.page-down {
    text-align: center;
    margin: 12% 10% 0 10%;
}

.title {
    font: 600;
    font-size: 2rem;
}

.paragraph {
    font: 400;
    font-size: 1rem;
}

.register {
    padding: 4%;
    border-radius: 25px;
    width: 70%;
    margin: 0 0 10%;
    border: none;
    color: hsl(257, 40%, 49%);
    cursor: pointer;
}

.icons {
    justify-content: space-around;
    display: flex;
    margin: 5% 30% 0 30%;
}

ion-icon {
    border: solid white;
    border-radius: 20px;
    border-width: 1px;
    padding: 5px;
}

.attribution {
    font-size: 11px;
    text-align: right;
    margin: 0;
}

.attribution a {
    color: hsl(300, 69%, 71%);
}

@media (min-width: 800px) {
    body {
        background-image: url('/images/bg-desktop.svg');
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .page-up {
        width: 40%;
    }
    .logo {
        width: 35%;
        margin: 2% 1% 14% 1%;
    }
    .illustration {
        width: 120%;
        height: 80%;
    }
    .page-down {
        width: 35%;
        align-content: center;
        text-align: center;
        margin: 12% 0 0 0;
        text-align: left;
    }
    .paragraph {
        font-size: 1rem;
        text-align: justify;
    }
    .register {
        font-size: 16px;
        text-align: center;
        margin: 0 0 0 0;
        width: 35%;
    }
    .icons {
        margin: 20% 0 0 70%;
    }
}